body {
  font-size: 0.9rem !important;
}
.car-container {
  width: 100%;
  height: 100vh;
  background-color: #ebeced;
}
.car-container .header {
  width: 100%;
  height: 3.2rem;
  background-color: #09c762;
  position: relative;
}
.car-container .header a {
  display: block;
  width: 0.9rem;
  height: 1.3333rem;
  font-size: 1.5rem;
  color: #ffffff;
  position: absolute;
  top: 1rem;
  left: 1.3333rem;
}
.car-container .header span {
  display: block;
  width: 100%;
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}
.car-container .steps {
  width: 100%;
  height: 2.6rem;
  background-color: #fff;
  display: flex;
}
.car-container .steps li {
  width: 33.33%;
  text-align: center;
  height: 2.6rem;
  line-height: 2.6rem;
}
.car-container .steps li:first-child {
  color: #09c762;
  border-bottom: 1px solid #09c762;
}
.car-container .yourPro {
  width: 100%;
  margin-top: 1.0667rem;
  border: 1px solid #dddddd;
  border-radius: 10px ;
  background-color: #fff;
}
.car-container .yourPro ul {
  display: flex;
}
.car-container .yourPro ul li {
  width: 25%;
  padding: 0.6667rem 0 0 1.3333rem;
}
.car-container .yourPro ul li img {
  width: 80%;
}
.car-container .yourPro ul li:nth-child(2) {
  flex-grow: 1;
}
.car-container .yourPro ul li:nth-child(2) p {
  font-weight: 600;
  margin: 1rem 0 ;
}
.car-container .yourPro ul li:nth-child(2) div {
  margin: 0.3333rem 0 0.8333rem;
  width: 7.6rem;
  height: 2.5667rem;
  border: 1px solid #e3e3e3;
  background-color: #fafafa;
  float: left;
}
.car-container .yourPro ul li:nth-child(2) div span:nth-child(1),
.car-container .yourPro ul li:nth-child(2) div span:nth-child(3) {
  width: 30%;
  display: block;
  line-height: 2.5667rem;
  text-align: center;
  float: left;
  color: #333333;
}
.car-container .yourPro ul li:nth-child(2) div span:nth-child(2) {
  display: block;
  width: 40%;
  background-color: #fff;
  height: 100%;
  line-height: 2.5667rem;
  float: left;
  text-align: center;
  color: #000000;
}
.car-container .yourPro ul li:nth-child(2) i {
  color: #09c762;
  font-size: 1.2rem;
  font-weight: 600;
  float: left;
  line-height: 3.3333rem;
}
.car-container .yourPro ul li:nth-child(2) i b {
  color: #333333;
  font-weight: 400;
}
.car-container .yourPro ul li:nth-child(3) {
  padding: 1.8rem 1.9333rem 0 0;
}
.car-container .yourPro ul li:nth-child(3) a {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url("../images/ico_08.png") no-repeat center center;
  background-size: 60% 60%;
  background-color: #cccccc;
  border-radius: 50%;
  float: right;
}
.car-container .footer {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
}
.car-container .footer span {
  padding-left: 1.0333rem;
  line-height: 4rem ;
}
.car-container .footer span i {
  color: #09c762;
  font-size: 1.2rem;
  font-weight: 600;
}
.car-container .footer a {
  float: right;
  display: block;
  width: 40%;
  height: 4rem ;
  line-height: 4rem ;
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
  background-color: #09c762;
}
