body {
  min-width: 1200px;
}
.header {
  width: 100%;
  height: 57px ;
}
.header .hd-container {
  height: 57px;
  background-color: #212121;
  margin: 0 auto;
  position: relative;
}
.header .hd-container img {
  width: 200px;
  height: 68px;
  position: absolute;
  top: 0;
  left: 96px;
  z-index: 999;
}
.header .hd-container a {
  display: block;
  height: 57px;
  line-height: 57px;
  color: #eee;
  position: absolute;
  top: 0;
  left: 315px;
  font-size: 12px;
}
.login {
  width: 100%;
  height: 502px;
}
.login .login-container {
  height: 502px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  background: url("../images/loginBg1.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}
.login .login-container .login-content {
  width: 382px;
  height: 417px;
  background-origin: content-box;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 44px ;
  right: 128px ;
  padding: 21px 30px 33px;
}
.login .login-container .login-content .lg-hd {
  width: 100%;
  height: 34px;
}
.login .login-container .login-content .lg-hd span {
  color: #323232;
  font-weight: 300;
}
.login .login-container .login-content .lg-hd span:nth-child(1) {
  font-size: 18px;
  float: left;
}
.login .login-container .login-content .lg-hd span:nth-child(2) {
  float: right;
  font-size: 12px;
}
.login .login-container .login-content .lg-hd span:nth-child(2) a {
  text-decoration: underline;
  color: #323232;
}
.login .login-container .login-content .userName,
.login .login-container .login-content .userPassword {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  position: relative;
}
.login .login-container .login-content .userName input,
.login .login-container .login-content .userPassword input {
  width: 279px;
  height: 26px;
  border: none;
  border-left: 1px solid #ccc;
  outline: none;
  padding-left: 6px;
  position: absolute;
  top: 6px;
  right: 0;
}
.login .login-container .login-content .userName i,
.login .login-container .login-content .userPassword i {
  width: 41px ;
  height: 100% ;
  position: absolute;
  top: 0 ;
  left: 0 ;
  background: url("../images/lg2.png");
  background-size: cover;
}
.login .login-container .login-content .userPassword {
  margin-top: 24px;
}
.login .login-container .login-content .userPassword i {
  background: url("../images/lg1.png");
  background-size: cover;
}
.login .login-container .login-content .save {
  width: 100%;
  height: 70px;
  padding: 33px 0 25px;
  font-size: 12px;
  overflow: hidden;
  position: relative;
}
.login .login-container .login-content .save input {
  vertical-align: text-bottom;
  margin: 0;
}
.login .login-container .login-content .save a {
  color: #000;
  text-decoration: underline;
  position: absolute;
  top: 33px;
  right: 0 ;
}
.login .login-container .login-content .lg-btn {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-color: #08c761;
}
.login .login-container .login-content .lg-btn a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
}
.login .login-container .login-content .for-other {
  width: 100%;
  height: 63px;
  margin-top: 36px;
  font-size: 12px;
}
.login .login-container .login-content .for-other a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: url("../images/other-login-bg.png");
  background-position: 0 0;
  float: left;
  margin: 20px 10px 0 0 ;
}
.login .login-container .login-content .for-other a:nth-child(2) {
  background-position: -40px 0;
}
.login .login-container .login-content .for-other a:nth-child(4) {
  background-position: -80px 0;
}
.login .login-container .login-content .for-other a:nth-child(5) {
  background-position: -200px 0;
}
